@import url(https://cdn.vox-cdn.com/csk/4d8f071f-7f23-4b6e-b181-ca507d75f34f/fdb56aa4-8753-4436-9267-8737d035040e/stylesheets/characters.css);
@import url(https://cdn.vox-cdn.com/csk/4d8f071f-7f23-4b6e-b181-ca507d75f34f/fdb56aa4-8753-4436-9267-8737d035040e/stylesheets/keyframes.css);

.container .content_grid .remark {
  color: #888888;
  padding-left: 0%;
  padding-right: 20%;
  text-align: left;
  font-size: small;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000;
  margin: 0;
  word-break: keep-all;
}
body img {
  width: 100%;
}
body a,
body p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.6;
}
nav.pages {
  position: absolute;
  right: 20px;
  top: 25px;
  z-index: 1;
}
@media (max-width: 640px) {
  nav.pages {
    right: 10px;
    top: 15px;
  }
}
nav.pages a {
  text-decoration: none;
  font-family: Courier New, Courier, monospace;
  font-size: 0.9rem;
  border: 1px solid #fff;
  padding: 5px 7.5px;
  color: #fff;
}
nav#pagination {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [8];
  grid-template-columns: repeat(8, 1fr);
  margin-top: 30px;
}
nav#pagination a {
  width: 100%;
  color: #fff;
  text-align: center;
}
nav#pagination a.next {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 20%;
  margin-bottom: 50px;
}
@media (max-width: 640px) {
  nav#pagination a.next {
    margin-bottom: 25px;
  }
}
nav#pagination a.next.cont {
  background-image: url("../shared_img/continue.jpg");
  cursor: pointer;
}
nav#pagination a.next.m {
  background-image: url("https://cdn.vox-cdn.com/uploads/chorus_asset/file/21911954/monday.0.jpg");
}
nav#pagination a.next.w {
  background-image: url("https://cdn.vox-cdn.com/uploads/chorus_asset/file/21911953/wednesday.0.jpg");
}
nav#pagination a.next.f {
  background-image: url("https://cdn.vox-cdn.com/uploads/chorus_asset/file/21911955/friday.0.jpg");
}
nav#pagination a.next.end {
  background-image: url("https://cdn.vox-cdn.com/uploads/chorus_asset/file/21911956/20021.0.jpg");
}
.container {
  position: relative;
}
.container .content_grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [8];
  grid-template-columns: repeat(8, 1fr);
}
.container .content_grid a {
  color: inherit;
}
.container .content_grid p,
.container .content_grid ol {
  color: #fff;
  margin: 10px 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}
@media (max-width: 640px) {
  .container .content_grid p,
  .container .content_grid ol {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
  }
}
.container .content_grid p span.name,
.container .content_grid ol span.name {
  text-transform: uppercase;
  display: none;
}
@media (max-width: 640px) {
  .container .content_grid p span.name,
  .container .content_grid ol span.name {
    display: initial;
  }
}
.container .content_grid img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
}
.container .content_grid.text {
  max-width: 1080px;
}
.container .content_grid.text:first-child {
  margin-top: 60px;
}
.container .content_grid.text.alt-font {
  max-width: 95%;
  margin: 30px auto;
}
.container .content_grid.text.alt-font p {
  padding: 0;
  font-size: 1.25rem;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
}
.container .content_grid.image {
  margin: 30px 0;
}
.container .content_grid.video {
  position: relative;
  margin: 30px 0;
  max-height: 680px;
}
.container .content_grid.video iframe {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  width: 100%;
  height: 100%;
  border: 0;
}
div.video-transcript {
  position: relative;
  height: 0;
  overflow: hidden;
}
div.video-transcript p {
  margin: 0;
}
#loading-screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: none;
}
#loading-screen.active {
  display: block;
}
#loading-screen svg {
  width: 320px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 47.5%;
  left: 50%;
}
@media (max-width: 640px) {
  #loading-screen svg {
    width: 65%;
  }
}
#newspaper-clipping {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
  overflow: hidden;
}
#newspaper-clipping.active {
  display: flex;
}
#newspaper-clipping.fade-out {
  -webkit-animation: fade-out-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#newspaper-clipping img {
  width: 500px;
  display: block;
  margin: 0;
  -webkit-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@media (max-width: 640px) {
  #newspaper-clipping img {
    width: 70%;
  }
}
#newspaper-clipping #click-reminder {
  background-color: #fff;
  position: absolute;
  bottom: -100vh;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
}
#newspaper-clipping #click-reminder.active {
  bottom: 25px;
}
#newspaper-clipping #click-reminder p {
  color: #000;
  font-size: 0.9rem;
  margin: 2px 5px 0px 5px;
  font-family: Courier New, Courier, monospace;
}
#first-chapter {
  position: relative;
  overflow: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear, height 0s;
  transition: visibility 0s, opacity 0.5s linear, height 0s;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
#first-chapter.active {
  visibility: visible;
  opacity: 1;
  height: auto;
}
#chapters-index {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [8];
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear, height 0s;
  transition: visibility 0s, opacity 0.5s linear, height 0s;
  visibility: hidden;
  opacity: 0;
  height: 0;
  max-width: 1440px;
  margin: 0 auto;
}
#chapters-index.active {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding-bottom: 25px;
}
#chapters-index img.app-title {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  padding-top: 20px;
  padding-bottom: 35px;
}
@media (max-width: 640px) {
  #chapters-index img.app-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
    padding-top: 10px;
    padding-bottom: 0;
  }
}
#chapters-index .chapters-index-image-container {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  padding-right: 20px;
}
@media (max-width: 640px) {
  #chapters-index .chapters-index-image-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
    width: 100%;
    padding-right: 0;
  }
}
#chapters-index ul.chapters-list {
  list-style-type: none;
  position: relative;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  margin: 0;
  padding: 0;
}
@media (max-width: 640px) {
  #chapters-index ul.chapters-list {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
  }
}
#chapters-index ul.chapters-list li {
  padding: 5px 20px;
  color: #fff;
  font-size: 16px;
}
#chapters-index ul.chapters-list li a {
  text-decoration: none;
}
#chapters-index ul.chapters-list li a:hover {
  text-decoration: underline;
}
div#ticker {
  width: 100vw;
  position: relative;
  overflow: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear, height 0s;
  transition: visibility 0s, opacity 0.5s linear, height 0s;
  visibility: hidden;
  opacity: 0;
  height: 0;
  background-color: #ffff00;
  background-image: url("https://cdn.vox-cdn.com/uploads/chorus_asset/file/21766828/SCRTBS_logo_horizontal_blink.0.gif");
  background-size: 225px auto;
  background-repeat: repeat-x;
  background-position: 0% center;
  -webkit-animation-name: marquee;
  animation-name: marquee;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
div#ticker.active {
  visibility: visible;
  opacity: 1;
  height: 35px;
}
div#ticker a {
  display: block;
  width: 100%;
  height: 100%;
}
footer {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [8];
  grid-template-columns: repeat(8, 1fr);
  color: #fff;
  position: relative;
  overflow: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear, height 0s;
  transition: visibility 0s, opacity 0.5s linear, height 0s;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
footer.active {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding: 30px 0;
}
@media (max-width: 640px) {
  footer.active {
    padding: 20px 0 0 0;
  }
}
footer a,
footer p {
  margin: 0;
  font-size: 0.85rem;
}
footer .legal {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}
@media (max-width: 640px) {
  footer .legal {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    padding: 0 15px;
  }
}
footer .legal div {
  line-height: 1.6;
}
footer .credits {
  position: relative;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
}
@media (max-width: 640px) {
  footer .credits {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    padding-left: 25px;
    padding-top: 20px;
    padding: 15px 15px 20px 15px;
  }
}
